<!DOCTYPE html>
<html>
   <head>
      <title>RorTest1</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" type="text/css" href="css/material-design-icons.min.css">
      <link rel="stylesheet" type="text/css" href="css/vuetify.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
   </head>

   <body>
      <!--BODY-START--->
      <div id="template_app">
            <template>
                  <v-app dark>
                  
                        <!--NAVIGATION DRAWER START-->
                        <v-navigation-drawer :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" fixed app>
                              <v-list dense>

                                    <template v-for="item in items">

                                          <v-subheader v-if="item.subheader" class="mt-3" v-html="item.text"></v-subheader>

                                          <v-list-group v-else-if="item.children" 
                                          v-model="item.model" :key="item.text" :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="">
                                                
                                                <v-list-tile slot="activator">
                                                      <v-list-tile-content>
                                                            <v-list-tile-title v-html="item.text"></v-list-tile-title>
                                                      </v-list-tile-content>
                                                </v-list-tile>
                                                <v-list-tile v-for="(child, i) in item.children" :key="i" @click="">
                                                      
                                                      <v-list-tile-content>
                                                            <v-list-tile-title v-html="child.text"></v-list-tile-title>
                                                      </v-list-tile-content>
                                                      
                                                </v-list-tile>

                                          </v-list-group>

                                          <v-list-tile v-else 
                                          :key="item.text" @click="">

                                                <v-list-tile-content>
                                                      <v-list-tile-title v-html="item.text"></v-list-tile-title>
                                                </v-list-tile-content>

                                                <v-list-tile-action>
                                                      <v-icon v-html="item.icon"></v-icon>
                                                </v-list-tile-action>

                                          </v-list-tile>

                                    </template>

                              </v-list>
                        </v-navigation-drawer>
                        <!--NAVIGATION DRAWER END-->

                        <!--TOOLBAR START-->
                        <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" app fixed>
                              <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
                                    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                                    <span class="hidden-sm-and-down" v-html="drawer_title"></span>
                              </v-toolbar-title>
                              <v-spacer></v-spacer>
                              

                              <v-menu :nudge-width="100">
                               
                                    <v-btn slot="activator" icon>
                                          <v-icon>more_vert</v-icon>
                                    </v-btn>
                                   
                                    <v-list>

                                          <v-list-tile @click="">
                                                <v-list-tile-content>
                                                      <v-list-tile-title>ACCOUNT</v-list-tile-title>
                                                </v-list-tile-content>
                                                <v-list-tile-action>
                                                      <v-icon>account_circle</v-icon>
                                                </v-list-tile-action>
                                          </v-list-tile>

                                          <v-list-tile @click="">
                                                <v-list-tile-content>
                                                      <v-list-tile-title>LOGOUT</v-list-tile-title>
                                                </v-list-tile-content>
                                                <v-list-tile-action>
                                                      <v-icon>power_settings_new</v-icon>
                                                </v-list-tile-action>
                                          </v-list-tile>

                                    </v-list>
                              </v-menu>
                        </v-toolbar>
                        <!--TOOLBAR END-->

                        <!--CONTENT START-->
                        <v-content>
                              <v-container fluid fill-height>
                                    <v-layout justify-center align-center>
                                          
                                    </v-layout>
                              </v-container>
                        </v-content>
                        <!--CONTENT END-->
                        
                        <v-footer app></v-footer>

                  </v-app>
            </template>
      </div>
      <!--BODY-END-->

      <!--BASE-SCRIPTS-START--->
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="js/vue.min.js"></script>
      <script src="js/vuetify.min.js"></script>
      <!--BASE-SCRIPTS-END--->

      <script>
            Vue.use(Vuetify, 
            {
                  theme: 
                  {
                        primary: '#3f51b5',
                        secondary: '#b0bec5',
                        accent: '#8c9eff',
                        error: '#b71c1c'
                  }
            });
            
            var template_app = new Vue
            ({
                  el: '#template_app',
                  data: 
                  {
                        drawer_title: '<b>APP-NAME</b>',
                        drawer: null,
                        items: 
                        [
                              { text: 'Formularios', subheader: true },
                              { text: 'Contacts', icon: 'contacts' },
                              { text: 'Frequently contacted', icon: 'history' },
                              { text: 'Duplicates', icon: 'content_copy' },
                              { text: 'App downloads', icon: 'phonelink' },
                              { text: 'Go to the old version', icon: 'keyboard' },
                              { text: 'Labels', icon: 'keyboard_arrow_up', 'icon-alt': 'keyboard_arrow_down', model: true,
                                    children: 
                                    [
                                          { text: 'Create label', icon: 'add' }
                                    ]
                              },
                              { text: 'More', icon: 'keyboard_arrow_up', 'icon-alt': 'keyboard_arrow_down', model: false,
                                    children: 
                                    [
                                          { text: 'Import' },
                                          { text: 'Export' },
                                          { text: 'Print' },
                                          { text: 'Undo changes' },
                                          { text: 'Other contacts' }
                                    ]
                              },
                              { text: 'Ajustes', subheader: true },
                              { text: 'Settings', icon: 'settings' },
                              { text: 'Send feedback', icon: 'chat_bubble' },
                              { text: 'Help', icon: 'help' }

                        ]
                  }
            });
      </script>
      
   </body>
</html>
