<!DOCTYPE html>
<html>
   <head>
      <title>RorTest1</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" type="text/css" href="css/material-design-icons.min.css">
      <link rel="stylesheet" type="text/css" href="css/vuetify.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
   </head>

   <body>
      <!--BODY-START--->
      <div id="template_app">
            <template>
                  <v-app>
                  
                        <!--NAVIGATION DRAWER START-->
                        <v-navigation-drawer :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" fixed app>
                              <v-list dense>

                                    <template v-for="item in items">

                                          <v-list-group v-if="item.children" 
                                          v-model="item.model" :key="item.text" :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="">
                                                
                                                <v-list-tile slot="activator">
                                                      <v-list-tile-content>
                                                            <v-list-tile-title v-html="item.text"></v-list-tile-title>
                                                      </v-list-tile-content>
                                                </v-list-tile>
                                                <v-list-tile v-for="(child, i) in item.children" :key="i" @click="">
                                                      <v-list-tile-action v-if="child.icon">
                                                            <v-icon v-html="child.icon"></v-icon>
                                                      </v-list-tile-action>
                                                      <v-list-tile-content>
                                                            <v-list-tile-title v-html="child.text"></v-list-tile-title>
                                                      </v-list-tile-content>
                                                </v-list-tile>

                                          </v-list-group>

                                          <v-list-tile v-else 
                                          :key="item.text" @click="">

                                                <v-list-tile-action>
                                                      <v-icon v-html="item.icon"></v-icon>
                                                </v-list-tile-action>
                                                <v-list-tile-content>
                                                      <v-list-tile-title v-html="item.text"></v-list-tile-title>
                                                </v-list-tile-content>

                                          </v-list-tile>

                                    </template>

                              </v-list>
                        </v-navigation-drawer>
                        <!--NAVIGATION DRAWER END-->

                        <!--TOOLBAR START-->
                        <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="blue darken-3" dark app fixed>
                              <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
                                    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                                    <span class="hidden-sm-and-down" v-html="drawer_title"></span>
                              </v-toolbar-title>
                        </v-toolbar>
                        <!--TOOLBAR END-->

                        <!--CONTENT START-->
                        <v-content>
                              <v-container fluid fill-height>
                                    <v-layout justify-center align-center>
                                          
                                    </v-layout>
                              </v-container>
                        </v-content>
                        <!--CONTENT END-->
                        
                        <v-footer app></v-footer>

                  </v-app>
            </template>
      </div>
      <!--BODY-END-->

      <!--BASE-SCRIPTS-START--->
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="js/vue.min.js"></script>
      <script src="js/vuetify.min.js"></script>
      <!--BASE-SCRIPTS-END--->

      <script>
            var template_app = new Vue
            ({
                  el: '#template_app',
                  data: 
                  {
                        drawer_title: '<b>APP-NAME</b>',
                        dialog: false,
                        drawer: null,
                        items: 
                        [
                              { icon: 'contacts', text: 'Contacts' },
                              { icon: 'history', text: 'Frequently contacted' },
                              { icon: 'content_copy', text: 'Duplicates' },
                              { icon: 'settings', text: 'Settings' },
                              { icon: 'chat_bubble', text: 'Send feedback' },
                              { icon: 'help', text: 'Help' },
                              { icon: 'phonelink', text: 'App downloads' },
                              { icon: 'keyboard', text: 'Go to the old version' },
                              {
                                    icon: 'keyboard_arrow_up', 'icon-alt': 'keyboard_arrow_down', text: 'Labels',
                                    model: true,
                                    children: 
                                    [
                                          { icon: 'add', text: 'Create label' }
                                    ]
                              },
                              {
                                    icon: 'keyboard_arrow_up', 'icon-alt': 'keyboard_arrow_down', text: 'More',
                                    model: false,
                                    children: 
                                    [
                                          { text: 'Import' },
                                          { text: 'Export' },
                                          { text: 'Print' },
                                          { text: 'Undo changes' },
                                          { text: 'Other contacts' }
                                    ]
                              }

                        ]
                  }
            });
      </script>
      
   </body>
</html>
